
body {

	margin: 0 auto;
	background-color:rgb(236,236,236);

}#page-content{
	margin-top:5%;
	width:80%;
	margin-right:10%;
	background-color:white;
	font-family:Raleway;
	padding:5px;
}
h1{
	font-family:Raleway;
	font-size:300%;
	font-weight:bold;
	display:inline;
}h3{
	font-family:Raleway;
	font-size:115%;
	font-weight:bold;

}h2{
	font-family:Raleway;
	font-size:135%;
	font-weight:bold;
	display:inline;

}h4{
font-family:Raleway;
	font-size:95%;
	font-weight:bold;
	display:inline;
	}