body, html{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-color:rgb(147,206,255);
}#mainDiv{
	width:100%;
	background-color:rgb(147,206,255);
	height:100%;
	float:right;
}h1{
	font-size: 350%;
	text-align:center;
	font-family:Raleway;
	font-weight:normal;
}h2{
	font-size: 150%;
	font-family:Raleway;
	font-weight:normal;
	vertical-align:middle;
	padding:40px 40px 40px 40px;
	text-align:center;
}#proceed{
	width:30%;
	background-color:rgb(147,206,255);
	height:5%;
	margin:auto;
	border: 2px solid;
	border-radius: 1px;
	border-color:white;
}h3{
	font-size: 150%;
	font-family:Raleway;
	font-weight:normal;
	vertical-align:middle;
	text-align:center;
	text-decoration:none;
	color:black;
}a{
	text-decoration:none;
	vertical-align:middle;
}#proceed:hover{
	background-color:CornFlowerBlue;
	color:black;
}a:visited{
		color:black;
}#box{
	width:60%;
	background-color:rgb(147,206,255);
	margin:auto;
	border: 8px solid;
	border-radius: 15px;
	border-color:white;
	padding:40px;
}

@font-face {
font-family: "Raleway";
src: url(../Fonts/rwt.ttf) format("truetype");} 
